/* FOOTER */

footer{

  padding:80px 0;

  border-top:
  1px solid rgba(255,255,255,0.05);
}

.footer-content{

  display:flex;

  justify-content:space-between;

  align-items:center;

  gap:20px;

  flex-wrap:wrap;
}

.footer-content p{

  color:#8d8d8d;
}

.footer-links{

  display:flex;

  gap:30px;
}

.footer-links a{

  position:relative;

  color:#d5d5d5;

  text-decoration:none;
}

.footer-links a::after{

  content:"";

  position:absolute;

  left:0;

  bottom:-5px;

  width:0%;

  height:1px;

  background:#e50914;

  transition:0.25s ease;
}

.footer-links a:hover::after{

  width:100%;
}
